

/*   Main Page  */

.indexbody  {
    background-image: url("../images/Untitled_Artwork.gif"); 
    background-attachment:c  ;
    background-size: cover;
    background-position-y: -250px;
    background-repeat: no-repeat ; }
  
  

/* Link styling */
a{
 color: #52855b;
 font-family: 'Mansalva' , cursive; 
}
a:hover {
  color: #95bd93;
}

/* FONTS */
.indexbody h1 { 
    font-family: 'Major Mono Display' , monospace;
    color: #52855b ;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    line-height: 130%;
}

h2 {font-family: 'Mansalva' , cursive;
    color:#52855b;
    font-size: 27px;
    line-height: 190%;
    text-decoration: underline;
    text-align: center;
    padding-left: 25px;
}

h4 {font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
  padding-top: 16px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 40px;
  /*background-color:#8e9e8d;*/
}

h5 {font-family: 'Mansalva', cursive;
  font-size: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 60vh 60vh auto;
    grid-template-rows: auto ;
    height: 80vh;
    
  }
  
  .grid-container > div {
    text-align: center;
    font-size: 60px;
  }
  
  #two{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-image: url(../images/menu\ left.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 45px;
  }
  
  
  #three{
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    background-image: url(../images/menu\ right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -1px;
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .opsite {
    padding-right: 20px;
  }

  .tablinks{ list-style-type: none;} 


  
  /*.grid-container {
    background-image: url("../images/menu.jpg"); 
    background-attachment:c  ;
    background-size: inherit;
    background-position-y: -250px;
    background-repeat: no-repeat ; }

  }*/



  /* Gallery page */

  .gallerybody {
    background-image: url("../images/gallery.png"); 
    background-size: cover;
    background-repeat: repeat ; }
    
    h2 {font-family: 'Mansalva' , cursive;
      color:#4c7354;
      font-size: 27px; 
      text-decoration: none;
      text-align: center;
      padding-top: 35px; }
    
  #joelg {
    position: absolute;
    bottom: -0.5cm;
    right: 0.5cm;
  }

  #omocat {
    position: absolute;
    bottom: -0.5cm;
    right: 0.5cm;
  }


  #pepperon {
    position: absolute;
    bottom: -0.5cm;
    right: 0.5cm;
  }



  #niki{
    position: absolute;
    bottom: -0.5cm;
    right: 0.5cm;
  }




  #miauni {
    position: absolute;
    bottom: -0.5cm;
    right: 0.5cm;
  }



  #brian {
    position: absolute;
    bottom: -0.5cm;
    right: 0.5cm;
  }

    


  #frank {
    position: absolute;
    bottom: -0.5cm;
    right: 0.5cm;
  }



  #you {
    position: absolute;
    bottom: -0.5cm;
    right: 0.5cm;
  }




  #janicesung {
    position: absolute;
    bottom: -0.5cm;
    right: 0.5cm;
  }





    .menubody {
      background-image: url("../images/IMG_1062.GIF"); 
      background-size: cover;
      background-repeat: no-repeat ;}

    
      .btn {
        border-radius: 20px;
        padding: 15px 25px;
        font-size: 22px;
        text-decoration: none;
        margin: 20px;
        color: #fff;
        background-position-x: 40cm;
        background-position-y: 100cm;
        display: inline-block;
      

      }
      
      .btn:active {
        transform: translate(0px, 5px);
        -webkit-transform: translate(0px, 5px);
        box-shadow: 0px 1px 0px 0px;
      }
      .green {
        background-color: #2ecc71;
        box-shadow: 0px 5px 0px 0px #15B358;
      }
      
      .green:hover {
        background-color: #48E68B;
      }
    

  






    /*   Piano page   */

    .pianobody {
  
        padding-right: 100px;
        margin:0;
      }
      
      
      .pianowrapper{
        background-color:brown;
          height: 80vh;
        overflow: hidden;
         position: relative;
      }
      
      
        
        @keyframes showit {
          from {
           opacity: 0;
          }
          to {
           opacity: 0.7; 
          }
        }
      .piano{
        position:absolute;
        top:100px;
        left:px;
        
      }
      .white {
        fill:white;
        stroke:black;
        stroke-width:1;
        cursor:pointer;
        margin:2px;
      }
      .white:hover {
        fill:#9e9e9e;
        stroke:lightblue;
        cursor:pointer;
        stroke-width:1;
        outline: black solid 1px;
      }
      .black {
        fill:black;
        stroke-width:1;
        cursor:pointer;
        margin:2px;
      }
      .black:hover {
        fill:#515151;
        stroke:lightblue;
        stroke-width:1;
        outline: black solid 1px;
      }
      
      .keysNumbers {
        color: lightgray;
        font-size: 40px;
        font-family: monospace;
        font-weight: bold;
        z-index: 100;
        width: 740px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-left: 230px;
        margin-top: -420px;
      }
      .keysNotes {
       display:none;
      }
      
    


      .dessertbody {
        background-image: url("../images/lineart.gif"); 
        background-size: cover;
        background-repeat: no-repeat ;}
        

        .btn {
          border-radius: 20px;
          padding: 15px 25px;
          font-size: 22px;
          text-decoration: none;
          margin: 20px;
          color: #fff;
          background-position-x: 40cm;
          background-position-y: 100cm;
          display: inline-block;
        

        }
        
        .btn:active {
          transform: translate(0px, 5px);
          -webkit-transform: translate(0px, 5px);
          box-shadow: 0px 1px 0px 0px;
        }
        
        .blue {
          background-color: #55acee;
          box-shadow: 0px 5px 0px 0px #3C93D5;
        }
        
        .blue:hover {
          background-color: #6FC6FF;
        }
      

    